---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import {getAllCategories, getDataBySlug} from '../lib/data.js';
import AllProductsList from '../components/AllProductsList/index.jsx';
import Header from '../components/Header';
import Footer from '../components/Footer';
import { nan } from 'astro:schema';

export interface Category {
  url: string;
  title: string;
  slug: string;
}

const {categoria} = Astro.params;

export async function getStaticPaths() {
    const allCategorias = await getAllCategories() as Category[];
    const allCategoriesUrl = allCategorias.map((e) => e.url);
  
  return allCategoriesUrl.map(categoria => ({
    params: { categoria },
  }));
}

let tag = "";
let name = "";

const allCategorias = await getAllCategories() as Category[];
allCategorias.map((e:Category) => {
    if(e.url == categoria){
        tag = e.slug;
        name = e.title;
    }
})

const products = await getDataBySlug(tag);
---

<Layout>
    <Header />
    <div class="mt-10"></div>
    <AllProductsList products={products} ctg={categoria} name={name}/>
    <Footer />
</Layout>
