---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import {getAllCategories, getDataBySlug} from '../lib/data.js';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Product from '../components/Section/Product';
import SEO from '../components/SEO.astro';
export interface Category {
  url: string;
  title: string;
  slug: string;
}

interface Product {
    link: string;
    image: {
        url: string;
    }
    title: string;
    short: string;
}


export async function getStaticPaths() {
    const allCategorias = await getAllCategories() as Category[];
    
    return await Promise.all(
        allCategorias.map(async ({url, slug, title}) => {
            const products = await getDataBySlug(slug);
            return {
                params: { categoria: url },
                props: {
                    title,
                    products,
                    slug
                }
            };
        })
    );
}

const {title, products} = Astro.props;


---

<SEO 
  title={`${title} Old Money | Garimpo Style`} 
  description="Descubra as melhores peças de moda masculina elegante cuidadosamente selecionadas para homens sofisticados e old money."
  canonical="https://garimpostyle.netlify.app/"
/>

<Layout>
    <Header />
    <section class="flex flex-col gap-8 justify-center items-center px-6">
        <div class="w-full max-w-5xl flex flex-col items-center gap-4 text-center">
            <h1 class=" text-white text-4xl font-bold">
                Toda a categoria {title}
            </h1>
            <p class="text-gray-300">
                Aqui, você tem acesso a uma curadoria
                exclusiva de todos os produtos
                disponíveis.
            </p>

            <div class="w-full grid grid-cols-2 mx-3 gap-3 lg:grid-cols-4" transition:name="products">
                {products.map((product : Product) => {
                    return <Product object={product} client:load />;
                })}
            </div>
        </div>
    </section>
    <Footer />
</Layout>
