---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/index.jsx';
import Section from '../components/Section/index.jsx';
import Footer from '../components/Footer/index.jsx';
import {getAllCategories, getDataBySlug} from '../lib/data.js'
import Hero from '../components/Section/Hero';
import ProductsList from '../components/Section/ProductsList';
import type { Category } from './[categoria].astro';
import SEO from '../components/SEO.astro';


const allCategorias = await getAllCategories();


---

<SEO 
  title="Moda Masculina Elegante e Old Money | Garimpo Style" 
  description="Descubra as melhores peças de moda masculina elegante cuidadosamente selecionadas para homens sofisticados e old money."
  canonical="https://garimpostyle.netlify.app/"
/>

<Layout>
	<Header />

	<Section >
        <Hero client:load />

        <div class="w-full max-w-5xl flex flex-col items-center gap-4 text-center">
            <h1 class=" text-white text-4xl font-bold">
                Todos os produtos
            </h1>
            <p class="text-gray-300">
                Aqui, você tem acesso a uma curadoria
                exclusiva de todos os produtos
                disponíveis.
            </p>
            {allCategorias.map(async (c : Category) => {
                const products = await getDataBySlug(c.slug);
                return (
                    <ProductsList
                        products={products}
                        field={c.title}
                        link={c.url}
                    />
                );
            })}
        </div>
    </Section>

	<Footer />
</Layout>
