---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
        <meta name="google-site-verification" content="-KYHC26gBwzvJLYEAg_41IWIVWSOH8IiHO8nmRSgBeI" />
		
	</head>
	<body class="bg-neutral-800 flex flex-col gap-10 min-h-screen justify-between">
		<slot />
        <ClientRouter />
	</body>
</html>
